body
{
    background-color: #1e1f24;
    color: blue;
    text-align: center;
    font-family: "arial";
    font-size: 16px;
    margin: 0%;
    padding: 0%;
}
#cabecera
{
background: url("../imagenes/dragon.png") no repeat center center;
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0,5);
color: white;
font-weight: bold;
margin: 0%;
padding: 0.5em;
}
#cabecera #logo
{

    width: 30px;
    vertical-align: middle;
}
}
#cabecera #tagline
{
    padding: 1%;
    font-weight: normal;
    font-size: 0.8em;
}

}
#container
{
    width: 80%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;

}
#container h1
{
    font-size: 20px;
}
#post
{
    background-color: white;
    padding: 1em;

}