body
{
    color: #333;
    text-align: center;
    font-family: "arial";
    font-size: 16px;
   
}
#container
{
    width: 80%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;

}
#container h1
{
    font-size: 20px;
}